body {
  color: #000;
  font-weight: 100;
  font-size: 24px;
}

#above-the-fold {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(203 245 255);
  flex-direction: column;
}

#below-the-fold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.flex-item {
  margin: 5px;
}